{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}my Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="banner">
        <div class="navbar">
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'blog:search' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            <ul>
                <li><a href="{%  url 'blog:home'%}">Home</a></li>
                <li><a href="{%  url 'blog:posts'%}">Posts</a></li>
                <li><a href="{%  url 'blog:add_post'%}">add Post</a></li>
                <li><a href="{%  url 'blog:post_detail'%}">Posts Details</a></li>
                <li><a href="{%  url 'blog:post_update'%}">Posts apdates</a></li>
                <li><a href="{%  url 'blog:post_delete'%}">add Post</a></li>

            </ul>
        </div>
    </div>

    <div class="hero">
        <video autoplay muted loop plays-inline class="backVid" >
            <source src="{% static 'videos/IMG_3436.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    
{%block video%}
   
    {%endblock%}
        <div class="content-overlay">
            {% block content %}
            {% endblock %}
            
        </div>

</body>
</html>
