
{% extends 'main/base.html' %}

{% block title %} Add new post {% endblock %}


{% block content %}
    <div class="row">

        <div class="col">
            <h2>Adding post</h2>

            <form  action="{% url 'main:add_post' %}" method="post" class="d-flex flex-column gap-2">
                {% csrf_token %} 
                <label>Title: </label>
                <input type="text" name="title" />
                
                <label>content: </label>
                <textarea name="content"></textarea> 

                <label>Category: </label>

                <select name="category">
                    <option value="art">art</option>
                    <option value="travel">travel</option>
                    
                </select>

                <label>Publish Date:</label>
                <input type="date" name="publish_date" />

                <input type="submit" value="Add Book" class="btn btn-primary"/>

            </form>

        </div>

    </div>
{% endblock %}