{% extends 'blog/base.html' %}

{% block title %} Details for blog {{ book.title }} {% endblock %}

{% block content %}
<div class="d-flex flex-column gap-2">
    <h2>{{ blog.title }}</h2>
    <div class="d-flex justify-content-between">
        <h3>{{blog.content}}</h3>
        <div>
            <a href="{% url 'blog:post_update_view' book.id %}" class="btn btn-warning">Update</a>
            <a href="{% url 'blog:post_delete_view' book.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <p>{{ blog.category }}</p>
</div>


{% block content %}
  <h2>Add New Post</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Post</button>
  </form>
  
  <div id="image-slider">
    {% if form.instance.photo %}
      <div>
        <img src="{{ form.instance.photo.url }}" alt="{{ form.instance.title }}">
      </div>
    {% endif %}
  </div>
{% endblock %}
